@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--primary-color:rgb(2,3,129);
--dark-color:rgb(1, 1, 21);
--secondary-color:#9b51e0;
}
.primary_color {
    color: var(--primary-color);
}

a.active {
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: 600;
}
