@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--primary-color:rgb(2,3,129);
--dark-color:#12141D;
--secondary-color:#9b51e0;
}
.primary_color {
    color: var(--primary-color);
}

a.active {
    background-color: transparent;
    color: var(--secondary-color);
    font-weight: 600;
}
/* bg */
.bg-color{
    background-color: #12141D;
}
.gradient-bg{
    background-image: linear-gradient(to bottom right, #12141D 60%, #350761);
}
.gradient-t-bg{
    background-image: linear-gradient(to top right , #12141D 40%, #350761);
}
/* container */
/* container */
.container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1000px) {
    .container {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media screen and (max-width:768px) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width:640px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:500px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width:350px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
}